
<div id="header">
    <a id="logo" href="index.php">&nbsp;</a>
    <div id="top-city"></div>
</div>
<div id="navigation">
    <ul id="menu" class="menu main-nav" >
        <li><a href="index.php?page=profile">My Profile</a></li>
        <li><a href="index.php?page=message">Message {if $msgnum > 0}[<span id="msgCount" style="color:#00ccff">{$msgnum}</span>]{/if}</a></li>
        <li><a href="index.php?page=referfriend">Refer a Friend</a></li>
        <li><a href="logout.php">Sign Out</a></li>
    </ul>
  <script type="text/javascript">var menu=new menu.dd("menu");menu.init("menu","menuhover");</script>
 
                
</div>
			<div class="relative" style="margin:0 auto; width:615px; z-index:760;">
				<div class="popupcontent nav-badge-lock" style="z-index:760; padding: 33px 45px;top: 10px; height:270px;width: 505px;left:80px;">
	    			<a class="popup-close badge-lock-close" style="right: -9px;top: -25px;">&nbsp;</a>
	    			<h1 style="font-size: 60px;margin: 25px 0 0;">Unlock badges and get ready to trade.<br> Opening soon!</h1>
	    		</div>
	    		
	    		<div class="popupcontent no-price" style="z-index:760; padding: 33px 45px;top: 10px; height:270px;width: 505px;left:80px;">
	    			<a class="popup-close badge-lock-close" style="right: -9px;top: -25px;">&nbsp;</a>
	    			<h1 class="no-price2" style="margin: 50px 25px 0;display:none;">The Samsung Galaxy SII has been completely claimed.<br>Why not continue collecting the other badges for a chance to travel to Berlin, Istanbul and New York?</h1>
					<h1 class="no-price3" style="margin: 50px 25px 0;display:none;">The Marlboro VIP experience package has been completely claimed.<br>Why not continue collecting the other badges for a chance to travel to Berlin, Istanbul and New York?</h1>
	    			<h1 class="no-price4" style="margin: 50px 25px 0;display:none;">The Samsung Galaxy Tab has been completely claimed.<br>Why not continue collecting the other badges for a chance to travel to Berlin, Istanbul and New York?</h1>					
	    		</div>
	    	</div>