<div id="unluckyBadgeUniversal" class="BadgeUniversal" style="margin: 0 0 0 -225px;">
    <div class="contentBadge">
        <a class="popup-close toggleBox universalClose"></a>
        <div class="head" style="text-align:center; width: 300px; left:65px; padding:20px 0 0 0;">
            <h3 id="popunititle">All the universal badges have already been claimed! Be on the look-out for further clues - you may still get one in the coming days!</h3>
		</div>
        <img id="popuniimg" src="images/badge/badge_universal.png" style="margin:137px 72px 0; width:275px;" />
        <a href="index.php?page=profile" style="color:black;  margin: -20px 0 0 145px; position:absolute;">SEE MY BADGE COLLECTIONS</a>
    </div>
</div>