{*}
<div id="sidebar">
        <div id="side-menu">
            <div class="nav-about">
              <h2><a href="index.php?page=about-marlboro-connections" class="about"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-whats">
              <h2><a href="index.php?page=news" class="whats"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-code">
              <h2><a href="index.php?page=code" class="code"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-badge">
                  <h2><a href="index.php?page=code&act=trade" class="badge"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-reedem-active">
                  <h2><a href="index.php?page=code&act=prize" class="reedem"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-game">
                 <h2><a href="index.php?page=games" class="game"><span>&nbsp;</span></a></h2>
            </div>
        </div>
    </div><!-- #sidebar -->
    <div id="content">
    	<div id="reedem-form">
        	<div class="content">
            	<div class="reedem-form" style="position:relative;"> 
                	<h1>You have chosen the 
							{if $prize eq 'berlin-prize-brief'}
							exclusive Connections T-shirt.
							{elseif $prize eq 'new-york-prize-brief-2'}
							exclusive Samsung Galaxy 10.1 tablet
							{elseif $prize eq 'new-york-prize-brief-1'}
							exclusive Samsung Galaxy SII smart phone
							{elseif $prize eq 'instanbul-prize-brief'}
							exclusive VIP experience
							{/if}<br /> 
					<span style="font-size:18px">Remember these badges will be removed from your badge collection. Please confirm or update.<br>
					The prize will be delivered within one month to the address below. Please confirm or update with new details.
					</span></h1>
					
                    <div class="redeemform">
                        <form id="formRedeemConfirm" class="reedem-confirm" method="POST">
                            <div class="row">
                                <label>Street</label>
                                <input type="text" name="street" value="{$data.StreetName}" />
                            </div>
                            <div class="row">
                                <label>Complex</label>
                                <input type="text" name="complex" value="{$data.complex}" />
                            </div>
                            <div class="row">
                                <label>Province</label>
                                <input type="text" name="province" value="{$data.province}" />
                            </div>
                            <div class="row">
                                <label>City</label>
                                <!--<input type="text" name="city" value="{$kota}"/>-->
								<select name="city" class="city">
								{section name=i loop=$city}
									<option value="{$city[i].city}" {if $kota eq $city[i].city}selected="selected"{/if}>{$city[i].city}</option>
								{/section}
								</select>
                            </div>
                            <div class="row">
                                <label>Phone</label>
                                <input type="text" name="phone" value="{$data.phone}" />
                            </div>
                            <div class="row">
                                <label>Mobile</label>
                                <input type="text" name="mobile" value="{$data.MobilePhone}"/>
                            </div>
                            <div class="row">
                                <input type="checkbox" name="agree" />
                                <label class="checkbox">Agree to the <a id="btn-toc" href="#toc">terms and conditions</a></label>
                                <input type="hidden" name="prize" value="{$prize}" />
								<input type="hidden" name="type" value="{$type}" />
								<input type="hidden" name="size" value="{$size}" />
								<input type="submit" class="btnreedem" value="&nbsp;" />
                            </div>
                        </form>
                        <div class="require-badges">
                        	
							{section name=i loop=$require}
							<div class="box">
                            	<a href="javascript:void(0);"><img src="images/badge/badge{$require[i]}.png" /></a>
                                {if $require[i] eq $have[i]}
								<span class="checklist">&nbsp;</span>
								{/if}
							</div>
                        	{/section}
							
                        </div>
                    </div>
                    <div id="popupError" class="badge-box-small absolute" style="left: 110px;top: 215px;">
    					<div class="contentBadge">
    							<a id="popupClose" class="popup-close toggleBox absolute" style="right: -60px;top: -45px;"></a>
    							<p class="absolute" style="top:25px;left:0; width:260px; text-align:center; font-size:30px;">Lorem ipsum</p>
    							
                		</div>                                
        			</div>
        			<div id="toc" class="requestBadge" style="padding: 39px 70px; width: 635px; height:350px;left: -28px;top: 43px;">
        				<div class="contentBadge">
    							<a id="toc-close" class="popup-close toggleBox absolute" style="right: -90px;top: -51px;"></a>
                		</div>
        				<div id="scrollcApp" style="height:345px; width: 615px;">
                 	<div class="scrollcApp" style="height:2100px;width: 615px;">
                 	<h3>Syarat dan Ketentuan Untuk Partisipasi dalam Marlboro Lights Connections ("Promosi")</h3>
						 <ol style="text-align:left">
      <li>Pembelian rokok tidak disyaratkan untuk berpartisipasi dalam Promosi. Dengan memilih bagian syarat-syarat dan ketentuan-ketentuan ini, anda membenarkan bahwa anda adalah penduduk di Indonesia, berusia lebih dari 18 (delapan belas) tahun dan perokok.</li>  
      <li>Karyawan-karyawan dan perwakilan-perwakilan dari PT Philip   Morris Indonesia (PM), afiliasinya, distributor, agen kreatif dan badan usaha lainnya yang bertindak untuk mewakili PM dalam mengadakan Promosi, serta  kerabat dekat mereka, tidak diperbolehkan untuk berpartisipasi dalam Promosi.</li>
      <li>Para Peserta dapat mendaftar melalui situs <a href="http://www.marlboro.co.id">www.marlboro.co.id</a> atau aplikasi diambil oleh Marlboro Brand Ambassador pada lokasi yang telah ditentukan oleh   penyelenggara Promosi.</li>
      <li>Para Peserta diwajibkan untuk mengisi formulir aplikasi yang tersedia melalui <a href="http://www.marlboro.co.id">www.marlboro.co.id</a> atau melalui proses pendaftaran yang diadakan oleh Marlboro Brand Ambassador   sebagai ketentuan untuk mengikuti Promosi.</li>
      <li>Para Peserta yang mendaftar melalui <a href="http://www.marlboro.co.id">www.marlboro.co.id</a> diwajibkan untuk menyerahkan fotokopi Kartu Identitas (KTP / SIM / Passport) ke <a href="http://www.marlboro.co.id/">www.marlboro.co.id</a> sebagai bukti verifikasi data umur (harus   paling tidak 18 tahun) tidak lebih dari 7 (tujuh) hari setelah pendaftaran pertama.</li>
      <li>Para Peserta yang mendaftar dengan Marlboro Brand Ambassador diwajibkan untuk menunjukkan Kartu Identitas (KTP / SIM / Passport) selama proses pendaftaran sebagai bukti verifikasi data umur untuk mengikuti   Promosi.</li>
      <li>Masing-masing peserta mempunyai kesempatan untuk mendaftar hanya satu kali. Jika para peserta mencoba untuk mendaftar lebih dari satu kali, aplikasi pertama yang   diterima oleh penyelenggara Promosi akan dianggap sah dan aplikasi-aplikasi   selanjutnya akan dibatalkan.</li>
      <li>Seleksi para peserta akan dilaksanakan oleh penyelenggara Promosi berdasarkan kelengkapan pendafataran, dokumen yang diserahkan dan kualitas jawaban menurut kriteria   yang ditentukan oleh penyelenggara Promosi.</li>
      <li>Para Peserta tidak boleh terlibat dalam kejahatan atau kegiatan kriminal, obat-obatan atau obat-obatan terlarang. </li>
      <li>Para Peserta diwajibkan untuk menemukan <em>Connection Codes</em> dan ikut serta dalam kegiatan di <a href="http://www.marlboro.co.id">www.marlboro.co.id</a> untuk mendapatkan lencana (<em>badges</em>). Rincian dimana <em>Connection Codes</em> dapat diperoleh   secara jelas di <a href="http://www.marlboro.co.id/">www.marlboro.co.id</a> . </li>
      <li>Para Peserta dapat menukar <em>Connection Code</em> untuk lencana (<em>badges</em>) melalui <a href="http://www.marlboro.co.id">www.marlboro.co.id</a>. Ini adalah tanggung jawab peserta untuk memasukkan <em>Connection Code</em> secara benar pada   tempat yang tersedia di <a href="http://www.marlboro.co.id">www.marlboro.co.id</a> agar memperoleh lencana (<em>badges</em>). Penyelenggara Promosi tidak akan bertanggungjawab   terhadap kehilangan atau kegagalan untuk memasukkan <em>Connection Code</em> dengan benar selama masa Promosi.</li>
      <li>Tidak ada <em>Connection Code</em> yang berlaku setelah tanggal 10 Desember 2011.</li>
      <li>Tiap-tiap <em>Connection Code</em> hanya akan sesuai dengan satu lencana (<em>badges</em>). Tiap-tiap <em>Connection Code</em> akan berlaku untuk pra-periode yang telah ditentukan dengan wajar oleh penyelenggara Promosi. Ini   akan menjadi tanggung jawab peserta untuk memasukan <em>Connection Code</em> dengan benar selama masa berlaku melalui <a href="http://www.marlboro.co.id">www.marlboro.co.id</a>.</li>
      <li>Para Peserta dapat mengklaim hadiah dengan menukarkan   serangkaian lencana (<em>badges</em>) sesuai   dengan satu atau lebih kota. Lencana (<em>badges</em>)   hanya dapat ditukarkan hingga 10 Desember 2011 dan hanya melalui   www.marlboro.co.id.</li>
      <li>Lencana (<em>badges</em>) yang   ditukarkan untuk hadiah akan hilang dari set lencana peserta dan tidak akan   terlihat di halaman profil peserta. Para peserta yang menukarkan lencana (<em>badges</em>) dapat melanjutkan untuk mengumpulkan   lencana (<em>badges</em>) dengan cara yang   sama sebagaimana yang mereka lakukan sebelum menukarkan lencana (<em>badges</em>).</li>
      <li>Para peserta dapat mengklaim hadiah melalui <a href="http://www.marlboro.co.id">www.marlboro.co.id</a>. Untuk mengklaim hadiah, para peserta harus menukarkan   lencana-lencana (<em>badges</em>) yang   sesuai dengan hadiah tersebut. Hanya lencana (<em>badges</em>) yang ditampilkan pada halaman profil peserta yang akan   dihitung terhadap lencana (<em>badges</em>) yang   diperlukan untuk masing-masing hadiah. Tanggal akhir untuk penukaran hadiah   adalah tanggal 10 Desember 2011.</li>
      <li>Jumlah dan tipe lencana (<em>badges</em>) diperlukan untuk mengklaim masing-masing hadiah dapat dilihat di <a href="http://www.marlboro.co.id">www.marlboro.co.id</a>.</li>
      <li>Untuk penukaran satu set lengkap lencana (<em>badges</em>) Istanbul secara benar, para peserta dapat memilih untuk didampingi sampai dengan 3 tamu   perokok dewasa. Setiap tamu yang mendampingi harus menandatangani surat yang menyatakan bahwa mereka perokok   dewasa sebelum diakui untuk mengambil bagian.</li>
      <li>Penyelenggara Promosi mempunyai hak untuk mengganti ketersediaan dari <em>Connection Code</em>, lencana (<em>badges</em>) dan hadiah setiap   saat, tanpa pemberitahuan sebelumnya dan untuk alasan apapun. </li>
      <li>Penyelenggara Promosi mempunyai hak untuk mengganti jumlah mutlak minimal hadiah, serta pelaksanaan syarat dan ketentuan untuk setiap kegiatan Promosi   tanpa pemberitahuan sebelumnya dan untuk alasan apapun.</li>
      <li>Para peserta akan dianggap finalis jika mereka mempunyai seluruh 12 lencana (<em>badges</em>) yang berbeda yang secara benar terpajang di situs pada tanggal 10 Desember 2011. Penyelenggara Promosi akan memilih 2   pemenang dari kelompok finalis yang memiliki skor hasil tertinggi dalam akhir   kegiatan. Penyelenggara Promosi akan menghubungi finalis sehubungan dengan   kegiatan yang perlu mereka lakukan untuk menjadi pemenang.</li>
      <li>Penyelenggara Promosi akan   menghubungi para pemenang selambat-lambatnya 3 hari setelah diumumkan nama para pemenang. </li>
      <li>Tiap-tiap pemenang dapat menunjuk satu tamu perokok dewasa untuk mendampinginya selama dalam perjalanan.</li>
      <li>Para pemenang 10 hari perjalanan dan tamu pendampingnya diwajibkan untuk menyediakan   sertifikat kesehatan dan harus menandatangani surat partisipasi dan kesediaan   untuk mengikuti kegiatan-kegiatan selama perjalanan Promosi di Jerman, Turki   dan Amerika Serikat dari tanggal 20 April hingga 29 April 2012, kepada   penyelenggara Promosi selambat-lambatnya 7 hari setelah diumumkan sebagai pemenang.</li>
      <li>Para pemenang 10 hari perjalanan dan tamu pendampinganya harus memiliki passpor yang berlaku dan harus menyerahkan passpor kepada penyelenggara Promosi untuk pengurusan   visa selambat-lambatnya 7   hari setelah diumumkan sebagai pemenang </li>
      <li>Hanya formulir dan aplikasi lainnya yang <ul style="list-style:upper-roman"><li>yang diterima oleh PM selama jangka waktu yang diatur dalam Pasal 3 diatas, </li><li>disiapkan dan dilengkapi secara   benar, dan </li><li> sepenuhnya mudah terbaca akan dipertimbangkan untuk Promosi.</li></ul>   Tanda terima formulir tersebut dan aplikasi lainnya   tidak akan diakui.</li>
      <li>Seluruh formulir dan kiriman lainnya yang diterima menjadi milik PM, dengan hak kepemilikan penuh dan bebas, termasuk tetapi tidak terbatas pada   hak untuk membuat kompilasi, menerbitkan dan menggunakan bahan dan informasi   di dalamnya sebagian atau seluruhnya, tanpa pertimbangan lebih lanjut atau   pembayaran kepada peserta.<br />
      Selanjutnya, untuk formulir dan applikasi berisi data pribadi, dilindungi oleh Pasal 34 dibawah ini.</li>
      <li>Seluruh keputusan oleh atau atas nama PM dalam hal-hal yang berkaitan dengan pemilihan pemenang bersifat final dan pada kebijakan penuh PM atau   mereka yang bertindak atas nama PM.</li>
      <li>Hadiah dapat berbeda dari apa yang disebutkan atau yang diilustrasikan   dalam materi sehubungan dengan Promosi. Hadiah tidak dapat ditukar atau   dikembalikan, dan tidak dapat diganti dengan uang tunai.</li>
      <li>Pemenang hadiah bertanggungjawab penuh atas pajak-pajak, baik pajak   penghasilan atau sebaliknya, yang mungkin muncul akibat memenangkan hadiah.</li>
      <li>PM memiliki hak dengan kebijakannya sendiri <ul style="list-style:upper-roman"><li> untuk mengubah tanggal,   lokasi, acara dan/atau hadiah yang ada pada Promosi; dan </li><li> untuk   membatalkan Promosi secara keseluruhan atau sebagian.</li></ul> PM berhak untuk   melaksanakan hak tersebut tanpa pemberitahuan sebelumnya atau kompensasi   kepada para peserta.</li>
      <li>Untuk mengklaim hadiah, pemenang harus <ul style="list-style:upper-roman"><li> menunjukan dokumen   identifikasi asli, yang berlaku dan diakui yang menyatakan bahwa dia memang   peserta dan setidaknya berusia 18 tahun dan </li><li> menandatangani formulir   pelepasan kewajiban yang diberikan oleh PM.</li></ul></li>
      <li>Seluruh   hadiah harus telah diklaim tanggal 10 Desember 2011. Setelah tanggal tersebut, PM berhak untuk meniadakan hadiah. </li>
      <li>Para peserta dalam Promosi memberikan persetujuan kepada PM untuk:
      	
        <ul style="list-style:upper-roman">
        <li>menyimpan dan menggunakan informasi pribadi untuk   memverifikasi usia mereka dan ketaatan atas kebijakan internal PM, dan/atau   menghubungi mereka;</li>
        <li>mengirimkan mereka dengan cara apapun (surat, surat   elektronik/<em>email</em>, sms, dll)   komunikasi yang berhubungan dengan produk tembakau, termasuk namun tidak   terbatas pada informasi dan materi pada peluncuran merk, perubahan kemasan, <em>event,</em> kegiatan pemasaran dan/atau   peraturan produk tembakau, sepanjang diizinkan oleh hukum yang berlaku;</li>
        <li>memproses data pribadi di negara selain negara dimana   mereka hidup (sebagai contoh, lokasi database di satu negara dan mengakses   database jarak jauh dari yang lain);</li>
        <li>mengungkapkan informasi pribadi mereka kepada penyedia   layanan PM untuk tujuan diatas, dan afiliasi PM untuk melakukan hal-hal   diatas untuk tujuannya sendiri, serta (jika diperlukan oleh hukum) kepada   pihak yang berwenang; dan </li>
        <li>menggunakan gambar mereka untuk komunikasi di dalam dan di luar.</li>
		</ul>
      
      </li>
    </ol>
      <p>PM tidak akan mengungkapkan   data pribadi yang diterima dari para peserta kepada pihak ketiga untuk   keperluan lain.</p>
       <p> Para peserta dapat mencabut   persetujuan untuk seluruh Pasal 34, atau hanya untuk dihubungi pada setiap   saat oleh Marlboro melalui <a href="http://www.marlboro.co.id/">www.marlboro.co.id</a></p>

  </div>  
    	  		
 </div>  
 	<div style="position:relative;">            	  	
        <input id="up" type="button" style="bottom: 0px;right: -18px;">
		<input id="down" type="button" style="bottom: 0px;right: -50px;">  
		</div>  
        			</div>
                </div><!-- .reedem-form -->
            </div><!-- .content -->
        </div><!-- #reedem-form -->
		
		
		
		<script type="text/javascript">
		{literal}
			$("#btn-toc").click(function(){
					$("#toc").fadeIn("slow");
				});
			$("#toc-close").click(function(){
				$("#toc").fadeOut("slow");
			});
		{/literal}
		redeemAllow = {$allow};
		</script>
		
    </div><!-- #content -->
{/*}